﻿@model IEnumerable<MockInitiateDbManagement.Person>

@{
    ViewBag.Title = "Mock Initiate Service - DB Management";
}

<h2>Members</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)</th>

        <th>
            @Html.DisplayNameFor(model => model.EnterpriseId)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EnterpriseId)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnterpriseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnterpriseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnterpriseId })
        </td>
    </tr>
}

</table>
